<div class="w-100">
    <label for="email-signin" class="form-label text-light">Email</label>
    <input type="email" required class="form-control" id="email-signin" name="email" placeholder="name@example.com" />
</div>
<div class="w-100 ">
    <label for="password-signin" class="form-label text-light">Password</label>
    <input type="password" required class="form-control" id="password-signin" name="password" placeholder="password" />
</div>
<div class="w-50 mt-3">
    <button type="submit" class="btn btn-primary w-100 fw-bold">Sign In</button>
</div>