<div class="w-100">
    <label for="email-signup" class="form-label text-light">Email</label>
    <input type="email" required class="form-control" id="email-signup" name="email" placeholder="name@example.com" />
</div>
<div class="w-100">
    <label for="firstname-signup" class="form-label text-light">Firstname</label>
    <input type="text" required class="form-control" id="firstname-signup" name="firstname" placeholder="Max" />
</div>
<div class="w-100">
    <label for="lastname-signup" class="form-label text-light">Lastname</label>
    <input type="text" required class="form-control" id="lastname-signup" name="lastname" placeholder="Doe" />
</div>
<div class="w-100">
    <label for="password-signup" class="form-label text-light">Password</label>
    <input type="password" required class="form-control" id="password-signup" name="password" placeholder="password" />
</div>
<div class="w-100">
    <label for="confirmation-signup" class="form-label text-light">Confirmation</label>
    <input type="password" required class="form-control" id="confirmation-signup" name="confirmation"
        placeholder="password" />
</div>
<div class="w-50 mt-3">
    <button type="submit" class="btn btn-primary w-100 fw-bold">Sign Up</button>
</div>