<h1 class="logo text-primary text-center my-3 position-relative text-decoration-underline">
    bring it!
    <span class="slogan text-primary w-100 text-center fst-italic fs-4 position-absolute start-0">SLOGAN GOES HERE</span>
</h1>