@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.body {
    height: 100dvh;
}

.logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
}

.logo--min {
    font-size: 1rem;
}

.slogan {
    top: 4.15rem;
}

.icon {
    width: 1em;
    height: 1em;
    font-size: 22px;
}

.avatar-medium-placeholder {
    width: 1em;
    height: 1em;
    font-size: calc(4 * 16px);
}

.profile-thumb {
    width: 22px;
    height: 22px;
    object-fit: cover;
}

.profile-picture {
    width: 7.5rem;
    height: 7.5rem;
    object-fit: cover;
}

.bringer-picture {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .w-sm-25 { width: 25%!important; }
    .w-sm-50 { width: 50%!important; }
    .w-sm-75 { width: 75%!important; }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .w-md-25 { width: 25%!important; }
    .w-md-50 { width: 50%!important; }
    .w-md-75 { width: 75%!important; }
    .profile-picture {
        width: 10rem;
        height: 10rem;
        object-fit: cover;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .w-lg-25 { width: 25%!important; }
    .w-lg-50 { width: 50%!important; }
    .w-lg-75 { width: 75%!important; }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .w-xl-25 { width: 25%!important; }
    .w-xl-50 { width: 50%!important; }
    .w-xl-75 { width: 75%!important; }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .w-xxl-25 { width: 25%!important; }
    .w-xxl-50 { width: 50%!important; }
    .w-xxl-75 { width: 75%!important; }
}